{% extends '::layout_admin.html.twig' %}

{% block title %}
	Cambiar Password
{% endblock %}

{% block body %}

	<div class="panel contenedor panel-default">
	<div class="panel-heading">Cambiar Contraseña</div>
	<div class="panel-body">
	  <form action="{{path('sistema_cuenta_cambiar_password')}}" method="POST" name="form_cambiar_password" class="form-horizontal">
	    <fieldset>
	      <legend>Datos</legend>
	      <input type="hidden" name="id_usuario" value="{{usuario.id}}">
	      <div class="form-group" name="form-group-username">
	        <label for="inputNombre" class="col-lg-2 control-label">Usuario</label>
	        <div class="col-lg-10">
	          <input class="form-control" id="inputUsuario" placeholder="Ingrese usuario" type="text" name="username" value="{{usuario.usuario}}" readonly="readonly">
	        </div>
	      </div>
	      <div class="form-group" name="form-group-anterior-password">
	        <label for="inputActual" class="col-lg-2 control-label">Actual contraseña</label>
	        <div class="col-lg-10">
	          <input class="form-control" id="inputAnterior" placeholder="Ingrese password anterior" type="password" name="anterior_password">
	        </div>
	      </div>
	      <div class="form-group" name="form-group-new-password">
	        <label for="inputActual" class="col-lg-2 control-label">Nueva contraseña</label>
	        <div class="col-lg-10">
	          <input class="form-control" id="inputNuevo" placeholder="Ingrese nuevo password" type="password" name="new_password">
	        </div>
	      </div>
	      <div class="form-group">
	          <button type="submit" class="btn btn-primary center-block" name="cambiar_pass" id="cambiar_pass">Cambiar Password</button>
	      </div>
	    </fieldset>
	  </form>        
	</div>
	</div>

	{% for mensaje in app.session.flashBag.get('mensaje') %}
	  {{ mensaje|raw }}
	{% endfor %}

{% endblock %}