body
{
    font-size: .85em;
    font-family: "Trebuchet MS", Verdana, Helvetica, Sans-Serif;
    color: #232323;
    background-color: #fff;
}
* {border: 1px ; 
			
		}
header,
footer,
nav,
section {
    display: block;
}
#header-wrapper
{}

#logo {
  //background: transparent url("img/logo.png") no-repeat;
  float:left;
  margin:5px;
}
#logo a {
  
  text-indent: 69px;
  height: 70px; 
  width: 65px;
  margin-top: 22px;
  display:block;
}

#btnBuscar{height:48px; }

#youtubeDivSearch 
{ margin-left:20px; margin-bottom:20px; margin-top:0px;}

#youtubeDivSearchPlayer
{
     margin-top:20px; margin-bottom:20px
}
#myinput{margin-right: 2px; width:240px; height:34px;}

.ytPlayer{width: 641px; margin: 0 auto;}


form
{ width:560px; margin: 0 auto; margin-bottom:40px; padding:2px;
}



/* Styles for basic forms
-----------------------------------------------------------*/

fieldset 
{
    border:1px solid #ddd;
    padding:0 1.4em 1.4em 1.4em;
    margin:0 0 1.5em 0;
}

legend 
{
    font-size:1.2em;
    font-weight: bold;
}

textarea 
{
    min-height: 75px;
}

.editor-label 
{
    margin: 1em 0 0 0;
}

.editor-field 
{
    margin:0.5em 0 0 0;
}


/* Styles for validation helpers
-----------------------------------------------------------*/
.field-validation-error
{
    color: #ff0000;
}

.field-validation-valid
{
    display: none;
}

.input-validation-error
{
    border: 1px solid #ff0000;
    background-color: #ffeeee;
}

.validation-summary-errors
{
    font-weight: bold;
    color: #ff0000;
}

.validation-summary-valid
{
    display: none;
}
