{% extends '::layout_admin.html.twig' %}

{% block title %}
	Proveedores
{% endblock %}

{% block body %}

	<div class="jumbotron">
	  <form action="{{path('sistema_borrar_producto')}}" method="POST" class="form-horizontal" name="form_productos">
	  	  <input type="hidden" name="id_producto" value="{{producto.id}}">
		  <center>
			  <h1>Eliminar producto</h1></br>
			  <p>¿Estás seguro que deseas eliminar al producto {{ producto.nombreProducto }}?</p></br>
			  <button type="submit" name="borrar_producto" class="btn-lg btn-danger">Eliminar</button>
			  <button type="submit" name="volver_producto" class="btn-lg btn-primary">Volver</button>
		  </center>
	  </form>
	</div>

	{% for mensaje in app.session.flashBag.get('mensaje') %}
	  {{ mensaje|raw }}
	{% endfor %}

{% endblock %}