@{
    ViewBag.Title = "CambiarUsuario";
    Layout = "~/Views/Shared/_ViewAdmin.cshtml";
}

@using sistema.Conexiones;
@using sistema.Funciones;
@using sistema.Models;

@{
    Conexion conexion_now = new Conexion();
    var userInCookie = Request.Cookies["user_login"];
    string cookie_content = userInCookie.Value;
    string username = conexion_now.get_username_in_cookie(cookie_content);
}

<center>

<div class="login">
<h1>Cambiar usuario</h1>
@using (Html.BeginForm("EditarUsuario", "Administracion", FormMethod.Post, new {})) {
<b>Usuario : </b><input type="text" name="nombre_usuario" readonly="readonly" value="@username"><br>
<b>Nuevo usuario : </b><input type="text" name="nuevo_usuario" value=""><br><br>
<b>Actual contraseña : </b><input type="password" name="password"><br><br>
<button class="small button" name="cambiar_user" type="submit">Cambiar</button>
}
<br>
</div>

</center>

@{
    if (ViewBag.estado != null)
    {
        string mensaje = ViewBag.mensaje;
        if (mensaje != "")
        {
            <script>alert("@mensaje");</script>;
        }
    }
}